
a{
    text-decoration: none;
}
a:link{
    
    background-color: #b2ff99;
    color: blue;
}
a:visited{
    text-decoration: none;
    background-color: #ffff85;
    color: red;
}
a:hover{
    background-color: #77704d;
    color: green;
}
a:active{
    background-color: #ff704d;
    color: gray;
}
